<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600,600italic' rel='stylesheet' type='text/css'><meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/layout.css">
    <title>Git Streak</title>
  </head>
  <body>
    <div class="svg-background">
    <div class="container">
    <h1>I'm Bringin' Git Streak Back... </h1>
    <p>So... you miss the git streak, huh?</p>
    <p>That side of you that feels it can only be adequately expressed through statistics (and if you are a programmer, that's probably a BIG side) wants to know, exactly, how productive in <span>actual numbers</span> you've been recently... 
    </p>
    <p>And of course, how much <span>more</span> productive that is than Jake over on the web team. In, you know, actual numbers. Because that's meaningful. And, you know, also very <span>useful</span> from a productivity point of view as well.</p>
    <p>because you are in no way in some kind of personal competition-bordering-on-vendetta with Jake. At all.
    </p>
    <p>
    </form>
    <div>
      <label>Your Github username
      <input type="text" onchange="userContributions(event);">
      </input>
      </label>
    </p>
    </div>
    </div>
    </div>
    <script>
function userContributions(event) {
  var url = window.location + "streak/" + event.target.value;
  window.open(url);
}
    </script>
  </body>
</html>
