<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>squeak</title>
  </head>
  <body>
    <h1>mew</h1>
    <p>
      <%= longestStreak.streakLength %>
    </p>
    <p>
      <%= currentStreak.startDate %>
    </p>
    <p>
    <%- svg.svgRaw %>
    </p>
    <!-- <script src=index.js></script> -->
    <script><%- svg.svgRaw %> </script>
  </body>
</html>
<!-- JSON.stringify(streakInfo)-->
    <!-- < and % and = JSON.stringify(streakInfo) %and> LOUIS THIS DOESNT WORK MEW also, interestingly - EVEN when commeted out it breaks EVERYTHING saying streakInfo not defines and the whole app breaks SO I have had to change the < and % and = tags-->
